@import './base.css';

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  font-weight: 400;
}

a,
a:visited {
  color: #556581;
  text-decoration: none;
}

a:hover {
  color: #2a3242;
}
