name: PR Title

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
  contents: read
  pull-requests: read

jobs:
  semantic-pr-title:
    name: semantic-pr-title
    runs-on: ubuntu-latest
    steps:
      - name: Validate semantic PR title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            refactor
            perf
            docs
            test
            build
            ci
            chore
